<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile  name="actions" fileName="logs/actions.log" filePattern="logs/actions-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="exceptions" fileName="logs/exceptions.log" filePattern="logs/exceptions-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </appenders>

    <loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="actions"/>
        </Root>
        <logger name="*" level="ALL" additivity="false">
            <appender-ref ref="actions" level="info"/>
            <appender-ref ref="exceptions" level="error"/>
            <appender-ref ref="Console" level="ALL" />
        </logger>

    </loggers>
</configuration>